body{
    background-color:aliceblue;
    font-family: Verdana, sans-serif;
}

#login {
    background-color: lightgrey;
    font-family: Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 30px;
    padding: 30px;
    height: 300px;
    width: 300px;
}
#create{
    position: absolute;
    top: 75%;
    left: 40%;
    transform: translate(-10%, -10%);
}

input{
    margin:30px;
    padding: 10px;
    width: 200px;
}

button{
    width: 100px;
    height:50px;
    text-align: center;
    line-height: inherit;
    margin-left: 100px;
    background-color: darkseagreen;
}

#nav{
    background-color: rgb(84, 134, 233);
    margin: 50px;
    border-radius: 30px;
    padding: 20px;
}

#main-heading {
    color: black;
    margin: 10px;
    padding-left: 5%;
    font-size: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-right: 20px;
    text-align: right; 
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: color 0.3s ease;
}


input{
    margin:30px;
    padding: 10px;
    width: 200px;
}

#resources{
    background-color: rgb(84, 134, 233);
    margin: 10px;
    border-radius: 30px;
    padding: 20px;
}
