<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Create Account</h1>
    <div id="container">
        <label name="">Name</label>
        <br>
        <input type="text" id="name" placeholder="Name">
        <br>
        <label name="">Create Username</label>
        <br>
        <input type="text" id="username" placeholder="Username">
        <br>
        <label name="">Create Pasword</label>
        <br>
        <input type="text" id="password" placeholder="Password">
        <br>
        
        <button onclick="submit()">Sign up</button>
    </div>
    <a id="returnLogin" href="login.html">Return to login</a>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <script src="script.js"></script>
</body>
</html>