<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACME University </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


    <div id="nav">
        <h1 id="main-heading"></h1id>ACME University </h1>
        <ul>
            <li>
                <button type="button" onclick="logout()">Logout</button>
            </li>
            
        </ul>
    </div>
    <p id="user-name"></p>

    <script src="script.js"></script>
    
</body>
</html>